p span {
	color: blue;
	font-weight: bold;
}
h2 {
	font-size: 32px;
	font-weight: bold;
	color: white;
}
.hacksaw {
	background-color: mediumspringgreen;
}
.artframes {
	background-color: lightcoral;
}
.finnish {
	background-color: skyblue;
}
h1 {
	font-size: 100px;
	font-weight: bold;
	color: khaki;
	background-image: url("https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-2/pattern.jpeg");
}
body {
	font-family: Helvetica;
}